
/*** Styling Buttons ***/
Button {
	-fx-base: rgb(68,114,196);
	-fx-background-color: derive(-fx-base, 0%);
	-fx-color: black;
	-fx-padding: 10px 28px;
	-fx-font-size: 14px;
	-fx-text-fill: white;
}

Button:hover {
	-fx-background-color: derive(-fx-base, -30%);
}   
/*** Styling MenuBar ***/
.menu-bar {
    -fx-background-color: rgb(68,114,196); 
}


.menu-bar > .container > .menu-button {
    -fx-background-color: rgb(68,114,196); 
}

.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: white;
}

.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: derive(rgb(68,114,196), -30%);  
}

.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: white;
}
 
.menu-item {
    -fx-background-color: rgb(68,114,196); 
}
 
.menu-item .label {
    -fx-text-fill: white;
}
  
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}    
   
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: derive(rgb(68,114,196), -30%); 
}
 
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: white;
} 
.context-menu {
    -fx-background-color: rgb(68,114,196); 
}
