.menu-bar {
	-fx-background-color: #12213a;
	-fx-text-fill: #FFFFFF;
}

.context-menu {
    -fx-background-color: #1f3761;
	-fx-background-radius: 5;
}

.menu-item .label {
	-fx-text-fill: #FFFFFF;
}

.menu:hover, .menu:focused, .menu-item:focused {
    -fx-background-color: #ff5c33;
	-fx-background-radius: 5;
}

.browseFile-button {
	-fx-background-color: #12213a;
	-fx-background-radius: 10;
}

.listView_box {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 10;
}

.drag-box {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 10;
}

.upload-button{
	-fx-background-color: #12213a;
	-fx-background-radius: 10;
}

.transparent {
	-fx-background-color: rgba(0,0,0,0);
}

.right-bar {
	-fx-background-color: #D3D3D3;
}

.left-bar {
	-fx-background-color: #D3D3D3;
}

.shadow{
	-fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}


