.body {
	-fx-background-color: radial-gradient(focus-distance -45%, center 50% 50% , radius 80% , #eeeeee, #9e9b9b);
}
.pane-left{
	-fx-background-color:white;
}
.pane-right {
	-fx-background-color: #1f3761;
}
.menu-bar {
	-fx-background-color: #12213a;
	-fx-text-fill: #FFFFFF;
}

.context-menu {
    -fx-background-color: #1f3761;
	-fx-background-radius: 5;
}

.menu-item .label {
	-fx-text-fill: #FFFFFF;
}

.menu-button:showing {
	-fx-background-color: #ff5c33;
	-fx-background-radius: 5;
}

.menu:hover, .menu:focused, .menu-item:focused {
    -fx-background-color: #ff5c33;
	-fx-background-radius: 5;
}

.button {
	-fx-background-color: #12213a;
	-fx-background-radius: 10;
	-fx-text-fill: #FFFFFF;
}

.delete-button {
	-fx-border-color: #12213a;
	-fx-border-radius: 10;
	-fx-background-color: rgba(0,0,0,0);
}

.file-explorer {
	-fx-background-color: #12213a;
	-fx-background-radius: 10;
	-fx-border-color: #12213a;
	-fx-border-radius: 10;
}
.file-explorer .label{
	-fx-text-fill: #FFFFFF;
}
.file-explorer .corner {
    -fx-background-color: transparent;
}
.file-explorer .column-header {
    -fx-background-color: #12213a;
    -fx-background-insets: 0 1px 0 0;
    -fx-padding: 0 0 1px 0;
    -fx-background-radius: 7 7 0 0;
}
.file-explorer .column-header .filler {
	-fx-background-color: transparent;
}

.feAnchorPane {
	-fx-border-color: #12213a;
	-fx-background-color: transparent;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
}

.transparent {
	-fx-background-color: rgba(0,0,0,0);
}

.shadow{
	-fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.table-view{
	-fx-font-size: 8px;
	-fx-background-color: radial-gradient(focus-distance -45%, center 50% 50% , radius 80% , #9e9b9b, #eeeeee);
	-fx-background-radius: 10;
	-fx-border-radius: 10;
}

.table-view .column-header {
	-fx-background-color: #12213a;
	-fx-background-radius: 2;
}
.table-view .column-header .label {
	-fx-text-fill: #FFFFFF;
}

